*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Typography Base de repspppppp
   ========================================================================== */
body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 40px;
  font-family: "Opens Sans", sans-serif;
}

h4 {
  font-size: 35px;
}

p {
  font-family: "Opens Sans", sans-serif;
  font-size: 16px;
}

small {
  font-family: "Opens Sans", sans-serif;
  font-size: 14px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-1 {
    grid-column: span 1;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-1 {
    grid-column: span 1;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-lg-1 {
    grid-column: span 1;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }
  .col-xl-11 {
    grid-column: span 11;
  }
  .col-xl-10 {
    grid-column: span 10;
  }
  .col-xl-9 {
    grid-column: span 9;
  }
  .col-xl-8 {
    grid-column: span 8;
  }
  .col-xl-7 {
    grid-column: span 7;
  }
  .col-xl-6 {
    grid-column: span 6;
  }
  .col-xl-5 {
    grid-column: span 5;
  }
  .col-xl-4 {
    grid-column: span 4;
  }
  .col-xl-3 {
    grid-column: span 3;
  }
  .col-xl-2 {
    grid-column: span 2;
  }
  .col-xl-1 {
    grid-column: span 1;
  }
}

.navigation {
  padding: 2em 0 1em 8em;
  position: relative;
  width: 100%;
}

.navigation a {
  text-align: left;
  color: #221D23;
  text-decoration: none;
  margin-right: 1rem;
}

.navigation__logo {
  position: absolute;
  top: 2em;
  left: 4em;
}

.collapsible label {
  display: none;
}

.navigation__container {
  max-height: 100%;
  padding: .5em 3em .5em 0;
  overflow: visible;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: inherit;
  padding: inherit;
}

.navigation__list:first-child {
  display: none;
}

@media (min-width: 576px) {
  .navigation__list:first-child {
    display: inherit;
  }
}

.navigation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.navigation__button a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/**
.navigation__container{
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

#menu {
  display: none;
}
input:checked ~ .navigation__container {
  max-height: 100%;
}
.collapsible {
  text-align: right;
  label{
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1.5em;
    font-size: 1.8em;
  }
}
*/
.hero-section__imgen {
  width: 100vw;
  position: relative;
}

.hero-section__main {
  padding: 0 5rem;
  position: relative;
  margin-top: 1rem;
}

.hero-section__main p {
  line-height: 2rem;
  padding-top: 2rem;
}

.hero-section__title {
  font-weight: 700;
}

main .title {
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 700;
}

main .main-graphic__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

main .main-graphic__image .a-bar {
  fill: #EE9480;
  -webkit-animation: opacidad1 3s ease-in-out infinite;
          animation: opacidad1 3s ease-in-out infinite;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
          transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

@-webkit-keyframes opacidad1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacidad1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

main .main-graphic {
  display: flex-box;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .main-graphic__text {
  padding: 0 3rem;
  margin: 3rem;
}

main .main-graphic__text .main-graphic__sub {
  font-weight: 700;
}

main .main-graphic__text p {
  line-height: 2rem;
  padding-top: 2rem;
}

main .main-price__imgen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .main-price__img {
  position: relative;
  z-index: -3;
}

main .logo {
  background-image: url(../../images/bg-price.svg);
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

main .card .card__body {
  height: 30rem;
  width: 22rem;
  border: 1px solid #BABABA;
  padding: 1rem;
}

main .card .card__price {
  font-weight: 700;
  border-bottom: 1px solid #BABABA;
  padding: 1rem 0 2rem 0;
}

main .card .card__text {
  height: 14rem;
  padding: 1rem 0 2rem 1.5rem;
}

main .card .card__button {
  border-top: 1px solid #BABABA;
  padding: 2rem 0;
}

/* Footer Layout
   ========================================================================== */
.footer {
  height: 9rem;
  width: 100vw;
  padding: 4rem;
  margin-top: 2rem;
  background-color: #221D23;
  color: #FFF;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__item-list li {
  padding-right: 2rem;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #2AB7CA;
  border: none;
}

.button__regular {
  padding: 0.3rem 1.5rem;
}

.button__large {
  padding: 0.70rem 3rem;
  width: 100%;
}

.button:hover {
  background-color: #77D1DD;
}

.button:focus {
  background-color: #AEACAF;
}

.card__tittle, .card__list {
  font-family: "Opens Sans", sans-serif;
  list-style: circle;
  margin-top: 1rem;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}
/*# sourceMappingURL=main.css.map */