
.hero-section__img{

}

.hero-section__imgen{
    width: 100vw;
    position: relative;

}

.hero-section__main{
    padding: 0 5rem;
    position: relative; 
    margin-top: 1rem; 
    p{
        line-height: 2rem;
        padding-top: 2rem;
    } 
}


.hero-section__title{
    font-weight: $bold;
}