.hero-section__imgen{
    display: inline-block;
    width: 100vw;
    

}

.hero-section__main{
    width: 40rem;
    padding: 0 5rem;
    position: relative;
}
.hero-section__title{
    font-weight: $bold;
}