
//svg:hover {
    //betsi:  animation:  keyframe-  tiempo duracion easy-in opacity: ;

main{
    .title {
        text-align: center;
        padding-bottom: 2rem;
        font-weight: $bold;
    }

    .main-graphic__img {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .main-graphic__image{

        .a-bar{
            fill: #EE9480;
            animation: opacidad1 3s ease-in-out infinite;
            transition-duration: 2s;
            transition-property: all;
            transition-timing-function: cubic-bezier(0,0,1,1);
        }
        @keyframes opacidad1 {
            0% {opacity: 0};
            30% {opacity: 0.3;}
            60% {opacity: 0.7;}
            100% {opacity: 1;}
        }
    }


    
    .main-graphic{
        display: flex-box;
        position: relative;
        justify-content: center;
        width: 100%;
    }
    .main-graphic__text{
        padding: 0 3rem;
        margin: 3rem;
        .main-graphic__sub{
            font-weight: $bold;
        }
        p{
            line-height: 2rem;
            padding-top: 2rem;
        } 
    }


    // seccion precios

    .main-price__imgen{
        display: flex;
        position: relative;

    }
    .main-price__img{
        position: relative;
        z-index: -3;

    }

    .logo{
        background-image: url(../../images/bg-price.svg);
        height: auto;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .card {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;

        .card__body{
            height: 30rem;
            width: 22rem;
            border: 1px solid $gray;
            padding: 1rem;
        }
        .card__price{
            font-weight: $bold;
            border-bottom: 1px solid $gray;
            padding: 1rem 0 2rem 0;
        }
        .card__text{
            height: 14rem;
            padding: 1rem 0 2rem 1.5rem;
        }

        .card__button{
            border-top: 1px solid $gray;
            padding: 2rem 0;
        }
    }
}
