

.navigation {
  padding: 2em 0 1em 8em;
  position: relative;
  width: 100%;

  a {
    text-align: left;
    color: $raising-black;
    text-decoration: none;
    margin-right: 1rem;
  }
}

.navigation__logo{
  position: absolute;
  top: 2em;
  left: 4em;
}

.collapsible {
  label {
    display: none;
  }
}

.navigation__container{
  max-height: 100%;
  padding: .5em 3em .5em 0;
  overflow: visible;
  display: inline-flex;
}

.navigation__list {
  display: flex;
  margin: inherit;
  padding: inherit;
  &:first-child{
    display: none;
    @include respond-to('sm'){
        display: inherit;
    }
  } 
}

.navigation__button{
  display: flex;
  justify-content: flex-end;
  text-align: end;
  a{
    align-self: center;
  }
  
}

/**
.navigation__container{
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

#menu {
  display: none;
}
input:checked ~ .navigation__container {
  max-height: 100%;
}
.collapsible {
  text-align: right;
  label{
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1.5em;
    font-size: 1.8em;
  }
}
*/

